/* ===============Container================== */
.cmp-adaptiveform-container {
  &__wrapper {
    margin: 0 auto;
    padding-top: $space-l;
    padding-bottom: $space-l;
    box-sizing: border-box;
    width: 100%;
    padding: $space-s;
    padding-inline: 20%;
    @media(max-width: 768px) {
      padding-inline: $space-s;
    }
  }

  &--loading {
    background: rgb(255, 255, 255) url(./resources/images/busy-state.gif) no-repeat fixed center;
    position: fixed;
    pointer-events: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    cursor: wait;
    z-index: 100000;
  }
}
.cmp-container.cmp-adaptiveform-container{
  padding: 0 20px;
}
.cmp-adaptiveform-container__wrapper{
  margin: 0 auto;
  margin-bottom: 20px;
  width: 100%;
  label > p, span > p {
    display: inline;
  }
}
@media(max-width:767px){
  .cmp-adaptiveform-container__wrapper{
    padding: 10px 20px 10px 10px;
  }
}
.cmp-adaptiveform-container--loading {
  background: rgb(255, 255, 255) url(./resources/images/busy-state.gif) no-repeat fixed center;
  position: fixed;
  pointer-events: none;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  cursor: wait;
  z-index: 100000;
}

.cmp-adaptiveform-container .cmp-adaptiveform-container__hamburger-menu [data-panel-visible="false"] {
  display: none !important;
}

.cmp-adaptiveform-container .cmp-adaptiveform-container__hamburger-menu [data-panel-enabled="false"] {
  opacity: 0.4;
}

.cmp-adaptiveform-container__hamburger-menu-dropdown {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 36px;
  inset-inline-end: 10px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  inline-size: 200px;
  z-index: 1000;
  padding: 0;
  margin: 0;
  list-style: none;
  border-radius: 5px;
  width: 215px;
}

.cmp-adaptiveform-container__hamburger-menu-dropdown > li {
  position: relative;
  border: none;
  margin: 2px 0px;
}

.cmp-adaptiveform-container__hamburger-menu-icon {
  display: flex;
  border: none;
  flex-direction: column;
  cursor: pointer;
  margin: 5px 0px;
  z-index: 1001;
  float: inline-end;
  width: 30px;
  height: 30px;
  background: no-repeat;
  background-size: 30px 30px;
  background-image:url(./resources/images/menu.png);
}

.cmp-adaptiveform-container__hamburger-menu-icon div {
  height: 4px;
  background-color: black;
  margin: 5px 0;
}

.cmp-adaptiveform-container__hamburger-menu-submenu {
  display: none;
  flex-direction: column;
  position: relative;
  background-color: white;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
}

.cmp-adaptiveform-container__hamburger-menu-submenu li {
  box-sizing: border-box;
  border: none;
  margin: 2px 0px;
}

a:hover {
  text-decoration: none !important;
}

.cmp-adaptiveform-container__hamburger-menu-item--active {
  background-color: #207f68 !important;
}

.cmp-adaptiveform-container__hamburger-menu {
  display: flex;
  flex-direction: column;
  margin: 10px;
  position: sticky;
  top: 0;
  background-color: #cee9e3;
  z-index: 100;
}

@media (min-width: 767px) {
  .cmp-adaptiveform-container__hamburger-menu-icon {
      display: none;
  }
  .cmp-adaptiveform-container__hamburger-menu {
      display: none;
  }
}

.cmp-adaptiveform-container__hamburger-menu-active-item-title {
  font-size: 20px;
}

.cmp-adaptiveform-container__hamburger-menu-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  height: 57px;
  background: #fafafa;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
}

.cmp-adaptiveform-container__hamburger-menu-top {
  border-bottom: 2px solid #D3D3D3;
}

.cmp-adaptiveform-container__hamburger-menu-button--prev {
  width: 20px;
  cursor: pointer;
  background: no-repeat;
  background-position: center;
  background-size:20px 24px;
  margin: 5px;
  height: 2.0rem;
  border: 0;
  background-image:url(./resources/images/leftChevron.svg);
}

.cmp-adaptiveform-container__hamburger-menu-button--next {
  width: 20px;
  cursor: pointer;
  background: no-repeat;
  background-position: center;
  height: 2.0rem;
  background-size: 20px 24px;
  margin: 5px;
  border: 0;
  background-image: url(./resources/images/rightChevron.svg);
}

[dir="rtl"] .cmp-adaptiveform-container__hamburger-menu-button--prev {
  transform: rotate(180deg);
}

[dir="rtl"] .cmp-adaptiveform-container__hamburger-menu-button--next {
  transform: rotate(180deg);
}

.cmp-adaptiveform-container__hamburger-menu-button--open {
  width: 20px;
  cursor: pointer;
  background: no-repeat;
  background-position: center;
  height: 1.0rem;
  background-size: 20px 24px;
  margin: 5px;
  border: 0;
  background-image: url(./resources/images/downChevron.svg);
}

.cmp-adaptiveform-container__hamburger-menu-button--close {
  width: 20px;
  cursor: pointer;
  background: no-repeat;
  background-position: center;
  height: 1.0rem;
  background-size: 20px 24px;
  margin: 5px;
  border: 0;
  background-image: url(./resources/images/upChevron.svg);
}

.cmp-adaptiveform-container__hamburger-menu-icon-container {
  display: flex;
  float: inline-end;
}


.cmp-adaptiveform-container__hamburger-menu-navigation {
  display: flex;
  justify-content: space-around;
}

.cmp-adaptiveform-container__hamburger-menu-item--activeparent {
  background-color: #cee9e3;
}

.cmp-adaptiveform-container__hamburger-menu-link {
  display: flex !important;
  padding: 10px;
  text-decoration: none;
  color: black;
  border-radius: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
}

.cmp-adaptiveform-container__hamburger-menu-link button {
  flex-shrink: 0;
}

.cmp-adaptiveform-container__hamburger-menu-link span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
}

.cmp-adaptiveform-container__hamburger-menu-middle {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  overflow: scroll;
  height: 48px;
  font-size: 1.2rem;
  text-wrap: nowrap;
  display: flex;
  align-items: center;
  padding: 0px 5px;
}
