.cmp-adaptiveform-textinput {
  @include input;
}

textarea.cmp-adaptiveform-textinput__widget {
  height: 80px;
  font-size: $font-m;
  padding: $space-s;
  max-width: 100%;
}

textarea.cmp-adaptiveform-textinput__widget::placeholder {
  opacity: 1;
}

textarea.cmp-adaptiveform-textinput__widget:placeholder-shown {
  color: $black;
}
